@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');:root {
  --primary-color: hsl(180, 12%, 10%);
  --secondary-color: hsl(231, 11%, 23%);
  --tertiary-color: hsl(180, 2%, 35%);
}

html {
  position: relative;
  min-height: 100%;
  font-size: 1rem;
}

*, :after, :before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #161c1c;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  position: relative;
  background-color: rgb(252, 252, 252);
  height: 100%;
  margin: 0 auto 80px;
}

a {
  text-decoration: none;
  cursor: pointer;
  
  &.disabled {
    pointer-events: none;
  }
}

input[type=radio],
input[type=radio] + label {
  cursor: pointer;
}

input {
  text-align: center;
  outline: none;
  padding: .5rem .75rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  border-bottom-width: 2px;
}

button[type="submit"] {
  padding: .5rem 1.5rem;
  border: 1px solid hsl(180, 2%, 55%);
  border-radius: 2px;
  background: transparent;
  
  &:hover {
    background-color: hsl(180, 2%, 88%);
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.9;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #fdfdfd;
  box-shadow: 0 0px 4px 0 #0000002a;
  margin-bottom: 56px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1px 32px;
}

.nav-item {
  flex-grow:0;
}

.nav-item.active .nav-link{
  color: var(--primary-color);
  text-decoration: underline;
}

.nav-link {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  text-underline: black;
  text-decoration: none;
  text-underline-offset: 5px;
  color: var(--tertiary-color);

  &:hover {
    text-decoration: underline;
  }
}

.board {
  max-width: 1000px;
  margin: 0 auto;
}

.search {
  background-color: #fdfdfd;
  box-shadow: 0 -0.5px 1px 1px #00000022;
  border-radius: 2px;
  padding: 16px 32px;
  margin-bottom: 2rem;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.topics {
  max-width: 1200px;
  margin: 0 auto;
}

.board-headers {
  background-color: #323232;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom: none;
  font-size: .875rem;
  
  & > span {
    color: #fdfdfd;
  }
}

.board-headers,
.board-item {
  padding: 8px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-item {
  background-color: #f5f5f5;
  border: 1px solid #bbb;
  border-top: none;
  border-bottom: 2px solid #bbb;
  padding-top: 16px;
  padding-bottom: 16px;

  &:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-width: 1px;
  }
  
  &.darker {
    background-color: #efefef;
  }
}

.board-col-1 {

}

.board-col-2 {
  flex-basis: 60px;
  text-align: center;
  flex-wrap: nowrap;
  flex-shrink: 0;

  & > div {
    color: var(--secondary-color);
    font-size: .875rem;
  }
}

.board-item-left {
  flex-grow: 1;
  justify-content: left;
  align-content: center;
}


.board-item-title {
  position: relative;
  display: block;
  font-size: 1rem;
  padding-bottom: 0.1rem;
  width: fit-content;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: capitalize;
  
  &:after {
    width: 100%;
    content: "";
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 2px;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.board-item-author {
  position: relative;
  font-size: .875rem;
  color: var(--secondary-color);

  &:after {
    width: 100%;
    content: "";
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: 2px;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.board-item-date {
  font-size: .825rem;
  color: var(--tertiary-color);
}

.board-item-tag {
  position: relative;
  display: inline-block;
  font-size: .775rem;
  border-radius: 4px;
  color: var(--secondary-color);

  &:after {
    width: 100%;
    content: "";
    border-bottom: 1px solid #333;
    position: absolute;
    bottom: -4px;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.paging {
  margin: 2rem auto 0;
  width: fit-content;
}

.paging-pages {
  display: flex;
  gap: .5rem;
}

.paging-link {
  display: block;
  border-radius: 4px;
  padding: .575rem 1rem;
  
  &:hover {
    outline: 1px solid gray;
    outline-offset: -1px;
  }
}

.paging-link.active {
  outline: 1px solid gray;
  outline-offset: -1px;
}
